/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@function scaleValue(
  $value,
  $idealViewportWidth: 1600,
  $min: 350px,
  $max: 3840px,
) {
  @return calc(
    #{$value} * (clamp(#{$min}, 100vw, #{$max}) / #{$idealViewportWidth})
  );
}
html {
  font-family: 'Righteous', cursive;
}
body {
  width: 100vw;
  height: 100vh;
  background: rgb(61,184,167);
  background: linear-gradient(310deg, rgba(61,184,167,0.75) 0%, rgba(240,187,75,0.75) 100%); 
}
.pageContainer {
  box-sizing: border-box;
  margin: 0;
  padding: #{scaleValue(10)};
  width: 100%;
  height: 100%;
  font-size: #{scaleValue(24)};
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.about {
  grid-column: 1 / 2;
  grid-row: 1;
  height: fit-content;
  box-sizing: border-box;
  margin-left: #{scaleValue(30)};
  margin-top: #{scaleValue(30)};
  color: rgb(110, 58, 134);
  text-shadow: 2px 3px 0.75px plum ;
  .title {
    font-size: #{scaleValue(55)};
  }

  p {
    font-size: #{scaleValue(16)};
    padding-top: #{scaleValue(10)};
    padding-left: #{scaleValue(5)};
    line-height: #{scaleValue(30)};
  }
}
.gameModeContainer {
  grid-column: 1 / 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-left: #{scaleValue(30)};
  button {
    background-color: rgb(100, 148, 100);
    border: none;
    border-radius: #{scaleValue(25)};
    font-size: #{scaleValue(25)};
    font-family: inherit;
    color: whitesmoke;
    padding: #{scaleValue(10)} #{scaleValue(13)};
  }
}
.gameMode {
  grid-column: 1;
}
.dropdown {
  width: fit-content;
}
.reset {
  grid-column: 2;
  display: block;
  width: fit-content;
  position: relative;
  right: #{scaleValue(20)};
}
#clear {
  font-size: #{scaleValue(15)};
}
#clear:hover {
  background-color: rgb(137, 161, 137);
}
#clear:active {
  background-color: rgb(74, 102, 74);
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    color: rgb(29, 29, 29);
    padding: #{scaleValue(5)} #{scaleValue(7)};
    text-decoration: none;
    display: block;
    transition: background-color 1s, color 1s ease-in-out;
  }
}
.dropdownContent a:hover {
  background-color: rgb(100, 148, 100);
  color: whitesmoke;
}
.gameMode:hover .dropdownContent {
  display: block;
}
.gameMode:hover .dropdown {
  background-color: rgb(137, 161, 137);
}
.playerContainer {
  grid-column: 1;
  grid-row: 3;
  padding-left: #{scaleValue(20)};
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(3, auto);
}
#gameTxt {
  display: none;
  grid-column: 1;
  grid-row: 1;
  font-size: #{scaleValue(20)};
}
#twoPlayer {
  display: none;
  grid-column: 1;
  grid-row: 2;
  padding-left: #{scaleValue(20)};
  .playerSubmit {
    position: absolute;
    bottom: #{scaleValue(230)};
    background-color: rgb(100, 148, 100);
    border: none;
    border-radius: #{scaleValue(25)};
    font-size: #{scaleValue(15)};
    font-family: inherit;
    color: whitesmoke;
    padding: #{scaleValue(5)} #{scaleValue(10)};
    cursor: pointer;
  } 
}
#aiPlayer {
  display: none;
  grid-column: 1;
  grid-row: 2;
  padding-left: #{scaleValue(20)};
  .playerSubmit {
    position: absolute;
    bottom: #{scaleValue(230)};
    background-color: rgb(100, 148, 100);
    border: none;
    border-radius: #{scaleValue(25)};
    font-size: #{scaleValue(15)};
    font-family: inherit;
    color: whitesmoke;
    padding: #{scaleValue(5)} #{scaleValue(10)};
    cursor: pointer;
  }
}
.toggle {
  display: none;
  width: fit-content;
  height: fit-content;
  grid-column: 1;
  grid-row: 2;
  position: relative;
  top: #{scaleValue(20)};
  padding: #{scaleValue(10)} #{scaleValue(30)}; 
  #choice {
    width: 20%;
  }
}
#players {
  display: none;
  grid-column: 1;
  grid-row: 2;
  padding-left: #{scaleValue(20)};
  .player2Token {
    padding-top: #{scaleValue(10)};
  }
}
.game {
  grid-column: 2 / 4;
  grid-row: 1 / 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.gameContainer {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: slategray;
  border: #{scaleValue(5)} solid slategrey; 
}
.tile {
  display: inline-grid;
  margin: #{scaleValue(10)};
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
}
.marker {
  text-align: center;
  box-sizing: border-box;
  margin: auto 0;
  align-self: center;
  justify-self: center;
  font-size: #{scaleValue(60)};
  color: rgb(133, 103, 64);
}
#gameOver {
  display: none;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.349);
  #gameOverTxt {
    margin: auto;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 40%;
    border-radius: #{scaleValue(20)};
    font-size: #{scaleValue(100)};
    color: rgb(126, 13, 35);
    padding: #{scaleValue(15)};
    background-color: rgba(255, 255, 255, 0.473);
  }
}